body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bold{
    font-weight: bold;
}

#shape{
    width: 200px;
    height: 200px;
    display: none;
    background-color: red;
    position: relative;
}