.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.underline{
    text-decoration: underline;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: red;
}

.big{
    font-size: 200%;
}